version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_APPLICATION_NAME=eureka-server

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - SPRING_APPLICATION_NAME=config-server
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8084:8084"
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    environment:
      - SPRING_APPLICATION_NAME=auth-service
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/auth_db
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

  flight-service:
    build: ./flight-service
    container_name: flight-service
    ports:
      - "8083:8083"
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    environment:
      - SPRING_APPLICATION_NAME=flight-service
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/flight_db
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8082:8082"
    depends_on:
      - mongodb
      - rabbitmq
      - eureka-server
      - config-server
    environment:
      - SPRING_APPLICATION_NAME=booking-service
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/booking_db
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - config-server
      - flight-service
      - booking-service
      - auth-service
    environment:
      - SPRING_APPLICATION_NAME=api-gateway
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      
      - APP_JWTSECRET=MySuperSecretKeyForFlightApp123456789012345678901234567890

volumes:
  mongo_data:
