version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8084:8084"
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  flight-service:
    build: ./flight-service
    container_name: flight-service
    ports:
      - "8083:8083"
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8082:8082"
    depends_on:
      - mongodb
      - rabbitmq
      - eureka-server
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - config-server
      - flight-service
      - booking-service
      - auth-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - APP_JWTSECRET=MySuperSecretKeyForFlightApp123456789012345678901234567890

volumes:
  mongo_data: